.temperature {
  font-size: 62px;
  font-weight: 600;
  position: relative;
  top: -10px;
}

.unit {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.unit-wrapper {
  position: relative;
  top: -37px;
}

.unit-link {
  text-decoration: none;
  color: gray;
}
.unit-link:hover {
  color: black;
}
.unit-separator {
  font-size: 18px;
}
